<input type="text" name="[% self.name | html %]" id="[% self.id %]" title="[% self.parent_binding_name %]" value="[% self.value | html %]" [% self.tag_attribute_string -%] [% IF self.size %]size="[% self.size %]"[% END -%] [% IF self.max_length %]maxlength="[% self.max_length %]"[% END -%] />
<span id="[% self.node_id %]-error" class="error" style="display:none;"></span>
